extends ./common/layout.pug

block head
    script(src="public/js/form.js")

block content
    h1 Contact Page

    form(action="/form/submit", method="post")
        input(type="text", name="firstname", placeholder="First Name", required)
        input(type="text", name="lastname", placeholder="Last Name", required)
        input(type="email", name="email", placeholder="Your Email", required)
        textarea(name="message", type="textarea" cols="30", rows="10")
        input(type="checkbox", name="contact_me_by_fax_only", value="0", style="display:none !important", tabindex="-1", autocomplete="off")
        input(type="submit", value="Submit")