doctype html
html(lang="en")
    head
        title #{title || "Merison.io"}
        include ./head-tags.pug
        block head
    body
        block header
            include ./header.pug
        block content

        block footer
            include ./footer.pug